beautifulsoup4>=4.9.0
blessings>=1.7
bs4>=0.0.1
cairocffi>=1.2.0
CairoSVG>=2.5.0
certifi>=2020.0.0
cffi>=1.14.0
chardet>=4.0.0
cryptography>=3.3
cssselect2>=0.4.0
defusedxml>=0.7.0
html5lib>=1.1
idna>=3.0
Jinja2>=2.11.0
MarkupSafe>=2.0.0
mozfile>=2.1.0
mozlog>=6.0
mozprofile>=2.5.0
mozterm>=1.0.0
Pillow>=8.0.0
pycparser>=2.20
pyOpenSSL>=20.0.0
Pyphen>=0.10.0
requests>=2.25.0
selenium>=3.141.0
six>=1.15.0
soupsieve>=2.0
splinter>=0.14.0
tinycss>=0.4
tinycss2>=1.1.0
urllib3>=1.26.0
WeasyPrint>=52
